<!--Section: Contact v.2-->
<section class="container my-5">

  <!--Section heading-->
  <div class="text-center">
    <h2>Napisz do nas</h2>
    <hr />
  </div>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Masz jakieś pytania lub problem? Nie bój się zapytać, na wszystko chętnie odpowiemy.</p>

  <div class="row d-flex justify-content-center">
      <!--Grid column-->
      <div class="col-md-7 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form">

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-3">
                          <input type="text" id="name" name="name" class="form-control">
                          <label for="name" class="">Imię</label>
                      </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-3">
                          <input type="text" id="email" name="email" class="form-control">
                          <label for="email" class="">Email</label>
                      </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form mb-3 ">
                          <input type="text" id="subject" name="subject" class="form-control">
                          <label for="subject" >Temat</label>
                      </div>
                  </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">

                      <div class="md-form mb-4">
                          <textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea"></textarea>
                          <label for="message">Treść wiadomości</label>
                      </div>

                  </div>
              </div>
              <!--Grid row-->

          </form>

          <div class="text-center text-lg-left">
              <a class="btn btn-lg btn-primary" >Wyślij</a>
          </div>
          <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
              <li><h2><i class="bi bi-geo-alt-fill"></i></h2>

                  <p><b>Politechnika Białostocka</b>, Wiejska 45A, Białystok, Polska</p>

              </li>

              <li><h2><i class="bi bi-telephone-fill"></i>
              </h2>
                  <p>123 456 789</p>
              </li>

              <li><h2><i class="bi bi-envelope-fill"></i>
              </h2>
                  <p>kontakt@evencik.pl</p>
              </li>
          </ul>
      </div>
      <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.2-->
