<div class="py-5 text-center">
  <h2>Dodaj nowe wydarzenie</h2>
  <hr>
</div>
<div class="submit-form g-5 d-flex justify-content-center">
  <div *ngIf="!submitted" class="col-md-7">
    <div class="row g-3">

      <div class="form-group col-sm-12">
      <label for="title">Nazwa</label>
      <input
        placeholder="nazwa wydarzenia..."
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="event.name"
        name="title"
      />
    </div>

    <div class="form-group col-sm-12">
      <label for="description">Opis</label>
      <textarea
        placeholder="opis..."
        class="form-control"
        id="description"
        required
        [(ngModel)]="event.description"
        name="description"
      ></textarea>
    </div>

    <div class="form-group col-sm-12">
      <label for="localization">Lokalizacja</label>
      <input
        placeholder="lokalizacja..."
        class="form-control"
        id="localization"
        required
        [(ngModel)]="event.localization"
        name="localization"
      />
    </div>

    <div class="form-group col-sm-12">
      <label for="organizator">Organizator</label>
      <input
        placeholder="organizator..."
        class="form-control"
        id="organizator"
        required
        [(ngModel)]="event.organizator"
        name="organizator"
      />
    </div>

    <div class="form-group col-sm-12">
      <label for="img">Url zdjecia</label>
      <input
        placeholder="img..."
        class="form-control"
        id="img"
        required
        [(ngModel)]="event.img"
        name="img"
      />
    </div>

    <div class="form-group col-6">
      <label for="date_start">Data rozpoczęcia</label>
      <input
        class="form-control"
        type="datetime-local"
        id="date_start"
        required
        [(ngModel)]="event.date_start"
        name="date_start"
      />
    </div>

    <div class="form-group col-6">
      <label for="date_end">Data zakończenia</label>
      <input
        class="form-control"
        type="datetime-local"
        id="date_end"
        required
        [(ngModel)]="event.date_end"
        name="date_end"
      />
    </div>


    <mat-radio-group class="example-radio-group" [(ngModel)]="event.category">
      <mat-radio-button class="form-check form-check-inline" *ngFor="let category of categoriess" [value]="category.id">
        {{category.name}}
      </mat-radio-button>
    </mat-radio-group>

    <div class="form-group col-12">
      <label for="tickets">Ilość biletów</label>
      <input
        type="number"
        class="form-control"
        value="0"
        id="tickets"
        [(ngModel)]="event.tickets"
        name="tickets"
      />
    </div>

  </div>
  <hr class="my-4">
    <button (click)="saveEvent()" class="btn btn-success">Zapisz</button>
  </div>

  <div *ngIf="submitted">
    <h4>Zapisałeś nowe wydarznie!</h4>
    <button class="btn btn-success" (click)="newEvent()">Dodaj kolejne wydarzenie</button>
  </div>
</div>
