
  <div routerLink="/event/{{event.id}}">
    <div class="pictureBox center">
      <img class="image" width="300" height="250" src="https://www.ebilet.pl/media/cms/media/pd3gudpz/portal_newsletter-8aed2513-47f6-15f0-8af1-390c7ea2ca3c.webp">
    </div>
    <div class="data" >
      <div class="name center"> <h2> {{event.name}} </h2></div>
      <div class="date center"> {{event.date_start | date}} - {{event.date_end| date}}</div>
      <div class="localization center"> {{event.localization}}</div>
      <div *ngFor="let category of categories">
        <div class="category center" *ngIf="category.id == event.category"> {{category.name}}</div>
      </div>
    </div>
  </div>

