<div class="position-relative">
  <a class="text-decoration-none link-dark" routerLink="/event/{{ event.id }}">
    <div class="pictureBox center">
      <img class="card-img-top" height="150" src="{{ event.img }}" />
    </div>
  </a>

  <div
    class="heart rounded-circle position-absolute top-20 end-0 translate-middle p-2 bg-white"
  >
    <ng-container *ngIf="isLoggedIn(); else loginPanel">
      <button
        type="button"
        class="btn btn-sm btn-link"
        (click)="updateLikedEventsList(isEventLiked())"
      >
        <mat-icon class="text-primary fs-4">{{
          isEventLiked() ? "favorite" : "favorite_border"
        }}</mat-icon>
      </button>
    </ng-container>

    <ng-template #loginPanel>
      <button
      type="button"
      class="btn btn-sm btn-link"
      (click)="openLoginDialog()"
    >
      <mat-icon class="text-primary fs-4">favorite_border</mat-icon>
    </button>
    </ng-template>

  </div>

  <a class=" text-decoration-none link-dark" routerLink="/event/{{ event.id }}">
    <div class="link-container">
      <div class="card-body p-4 d-flex flex-column align-items-start">
        <div *ngFor="let category of categories">
          <div
            class="badge bg-primary bg-gradient rounded-pill mb-2"
            *ngIf="category.id == event.category"
          >
            {{ category.name }}
          </div>
        </div>

        <h5 class="card-title mb-3">{{ event.name }}</h5>

        <div class="card-text mb-0 d-flex align-items-start">
          <i class="bi bi-clock me-2"></i>
          {{ event.date_start | date : "dd/MM/yy" }}
        </div>
        <div class="card-text mb-0 d-flex align-items-start">
          <i class="bi bi-geo-alt me-2"></i> {{ event.place_name }}
        </div>
      </div>
    </div>
  </a>
</div>
