<section class="bg-dark py-5">
  <div class="container text-center text-white py-5">
    <div class="pb-5">
      <h1>Korzyści jakie czekają na Ciebie</h1>
    </div>
    <div class="row mx-5 mt-5">
      <div class="col-12 col-md-6 col-lg-4 px-4">
        <div class="pb-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="currentColor"
            class="bi bi-hand-index-thumb"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"
            />
          </svg>
        </div>
        <div>
          <h4 class="py-3 text-accent">Prostota</h4>
          <p class="px-4">Łatwość znalezienia twojego wydarzenia</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-4">
        <div class="pb-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="currentColor"
            class="bi bi-lightning"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"
            />
          </svg>
        </div>
        <div>
          <h4 class="py-3 text-accent">Promocja</h4>
          <p class="px-4">Dotrzesz do ponad 250 000 potencjalnych klientów</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 px-4">
        <div class="pb-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="currentColor"
            class="bi bi-phone"
            viewBox="0 0 16 16"
          >
            <path
              d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"
            />
            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
          </svg>
        </div>
        <div>
          <h4 class="py-3 text-accent">Dostępność</h4>
          <p class="px-4">
            Działanie strony dostosowane do telefonów komórkowych
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center my-5 px-4">
    <div class="py-5">
      <h2 class="display-2 mb-4">O nas</h2>
      <h3 class="mb-5">Kilka słów o platformie Evencik.pl</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        scelerisque metus auctor nulla consectetur mattis. Nam turpis risus,
        venenatis eu leo et, elementum laoreet turpis. Ut non feugiat lorem. In
        hac habitasse platea dictumst. Morbi vitae turpis et dolor ultrices
        tincidunt id eu odio. Suspendisse eu sapien erat. Phasellus lobortis
        feugiat rhoncus. Mauris id turpis in dolor lobortis lacinia.
      </p>
      <p>
        Donec viverra pharetra nisi, et tincidunt velit tempus sed. Nullam
        pretium, nisi vitae faucibus egestas, nibh lectus auctor lectus,
        ultrices eleifend velit nibh quis tellus. Proin vitae ligula vitae
        lectus sodales volutpat. Vivamus tincidunt magna at tortor vestibulum
        pretium. Donec nec tincidunt quam. Nam orci augue, pretium quis libero
        ut, gravida dapibus lacus. Fusce eu augue ultrices, placerat ipsum vel,
        ultricies nibh. Praesent a luctus sapien. Morbi a orci quis libero
        viverra scelerisque. Donec bibendum eros in ipsum posuere consequat.
        Nullam quis aliquet magna. Nunc scelerisque sit amet urna sed porta.
        Suspendisse et lorem scelerisque, rutrum dui sed, accumsan odio.
        Maecenas a venenatis enim. Donec quis mollis turpis. Donec hendrerit
        nibh ipsum. Duis mi risus, posuere nec mauris vitae, feugiat porttitor
        sem. Vivamus nisl quam, volutpat nec eleifend tempus, feugiat nec justo.
      </p>
    </div>
  </div>
</section>



<section class="container-fluid mt-5 bg-dark text-white">
  <div class="row align-items-center">
    <div class="col-md-6">
        <div class="logo">
          <img
            class="img-fluid"
            src="https://www.shutterstock.com/shutterstock/photos/2311894901/display_1500/stock-photo-hand-holding-smartphone-with-blank-screen-2311894901.jpg"
            alt="image"
          />
        </div>
    </div>

    <div class="col-md-6 my-5 text-center text-md-start">
      <h3 >Dołącz do społeczności Evencik.pl i zyskaj grono zadowolonych klientów.
      </h3>
      <p class="mt-4">
        Wyszukiwanie, dodawanie, rezerwowanie, podróżowanie - to tylko kilka z
        dużej gamy możliwości, jakie daje Użytkownikom serwis Evencik.pl -
        Sprawdź sam i przekonaj się, jak można rezerwować wyjątkowe atrakcje i
        wydarzenia bez wychodzenia z domu.
      </p>
      <button
      class="btn btn-accent me-sm-3"
      type="button"
      routerLink="/events/list"
    >
      Dodaj wydarzenie
    </button>
    </div>
  </div>
</section>


