rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /eventImages/{document}{
      allow read: if true;
      allow create: if request.auth != null;
      allow delete, update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    match /userProfileImages/{document}{
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == request.resource.data.userId;
    }

    match /logo/{document}{
      allow read: if true;
    }
  }
}
