.mat-form-field {
  background-color: #fff;
  border-radius: 6px;
  width: 100%;
}


::ng-deep .mat-form-field.mat-focused {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Blue glow po kliknięciu */
  border-color: #80bdff; /* Kolor obramowania po kliknięciu */
}

