<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
  type="text/css"
/>

<header >
  <div >
    <div class="row gy-2 px-lg-5 pt-md-3">
      <div class="col-lg-4 px-md-4 ">
        <p class="text-white text-center">Nazwa</p>
        <div class="form-floating">
          <input
            class="form-control"
            id="name"
            type="text"
            placeholder="Nazwa wydarzenia"
            [(ngModel)]="nameFilter"
          />
          <label for="name">Nazwa</label>
        </div>
      </div>

      <div class="col-lg-4 px-md-4">
        <p class="text-white text-center">Lokalizacja</p>
        <div class="d-flex align-items-stretch ">
          <div id="geocoderFilter" class="geocoder" style="flex: 1"></div>
          <div class="form-floating" style="flex: 0 0 30%">
            <input
              class="form-control"
              id="kilometers"
              type="number"
              placeholder="+ km"
              [(ngModel)]="distanceFilter"
            />
            <label for="name">+ km</label>
          </div>
        </div>
      </div>

      <div class="col-lg-4 px-md-4">
        <p class="text-white text-center">Data</p>
        <div class="form-floating">
          <mat-form-field appearance="outline" class="date-range">
            <mat-label>Data</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate [(ngModel)]="dateStartFilter" (focus)="setLocale('pl-PL')" />
              <input matEndDate [(ngModel)]="dateEndFilter" (focus)="setLocale('pl-PL')"/>
            </mat-date-range-input>
            <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="justify-content-center my-5 d-flex flex-wrap">
      <div
        class="btn-group"
        role="group"
        *ngFor="let category of categories; let i = index"
      >
        <input
          type="checkbox"
          class="btn-check"
          id="{{ i }}"
          autocomplete="off"
          [ngModel]="selectedCategories.includes(i)"
          (change)="toggleCategory(i)"
        />
        <label class="btn btn-outline-light" for="{{ i }}">
          {{ category.name }}</label
        >
      </div>
    </div>

    <div class="d-flex justify-content-center my-4">
      <button
        class="btn btn-accent btn-lg me-sm-3"
        type="button"
        (click)="applyFilter()"
      >
        Szukaj
      </button>
      <button
        class="btn btn-outline-light btn-lg px-4"
        type="button"
        (click)="CleanFilter()"
      >
        Wyczyść filtry
      </button>
    </div>
  </div>
</header>


