<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <!-- Wyświetlanie obrazka profilowego użytkownika -->
              <div class="user-profile-image" *ngIf="user.photoURL; else defaultImage">
                <img
                  src = {{user.photoURL}}
                  alt="User Profile Image"
                  class="img-thumbnail"
                  width="200px"
                  height="200px"
                />
              </div>

              <ng-template #defaultImage>
                <img
                  src="/assets/default-profile-image.jpg"
                  alt="Default Profile Image"
                  class="img-thumbnail"
                  width="200px"
                  height="200px"
                />
              </ng-template>
              <!-- Przycisk do zmiany obrazka profilowego -->
              <div class="form-group">
                <label for="profileImage">Zmień obrazek profilowy:</label>
                <input
                  type="file"
                  id="profileImage"
                  accept="image/*"
                  (change)="onFileSelected($event)"
                />
              </div>

              <div class="form-group">
                <button class="btn btn-primary" (click)="changeProfileImage()">Zapisz zmiany</button>
              </div>
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>

                <div class="form-group col-sm-12">
                  <label for="displayName">Nazwa użytkownika</label>
                  <input
                    placeholder="podaj nową nazwę..."
                    type="text"
                    class="form-control"
                    id="name"
                    required
                    [(ngModel)]="displayName"
                    name="displayName"
                  />
                </div>
                <button (click)="updateDisplayName()" class="btn btn-success">Zapisz</button>

                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                <p>User type: <strong>{{user.role}}</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<div>
  <hr class="my-4">
  <button *ngIf="!showed" class="btn btn-success" (click)="showTickets()" >
    Pokaż bilety
  </button>
  <button *ngIf="showed" class="btn btn-success" (click)="showTickets()" >
    Ukryj bilety
  </button>
</div>

<div *ngIf="showed && tickets">
  <div *ngIf="tickets.length > 0">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nr biletu</th>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Wydarzenie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets, let i=index">
          <th scope="row">{{i+1}}</th>
          <td> {{ticket.id}}</td>
          <td> {{ticket.name}}</td>
          <td> {{ticket.surname}}</td>
          <td>
            <button  type="submit" class="btn btn-primary" routerLink="/event/{{ticket.eventId}}">
              Pokaż wydarzenie
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tickets.length <= 0">
    <p>brak zarezerwowanych biletów</p>
  </div>

  <div *ngIf="expiredTickets && expiredTickets.length > 0">
    <h3>Bilety z przeszłości</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nr biletu</th>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Wydarzenie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of expiredTickets, let i=index">
          <th scope="row">{{i+1}}</th>
          <td> {{ticket.id}}</td>
          <td> {{ticket.name}}</td>
          <td> {{ticket.surname}}</td>
          <td>
            <button  type="submit" class="btn btn-primary" routerLink="/event/{{ticket.eventId}}">
              Pokaż wydarzenie
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>





