<section>
  <div
    class="page-content page-container"
    id="page-content"
    *ngIf="authService.userData as user"
  >
    <div class="container">
      <div class="shadow-sm my-5 rounded">
        <div class="row">
          <div class="col-md-4">
            <div class="text-center text-white bg-c-lite-green py-5">
              <div class="mb-3" *ngIf="user.photoURL; else defaultImage">
                <img
                  src="{{ user.photoURL }}"
                  class="fit-cover rounded-circle shadow mb-5 bg-body rounded"
                  alt="User-Profile-Image"
                  width="150px"
                  height="150px"
                />
              </div>
              <ng-template #defaultImage>
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/event-app-4eaf2.appspot.com/o/userProfileImages%2Fdefault_img.jpg?alt=media&token=fc0e9ead-7c55-4121-9790-8e4823a0aa10"
                  class="fit-cover rounded-circle shadow mb-5 bg-body rounded"
                  alt="User-Profile-Image"
                  width="150px"
                  height="150px"
                />
              </ng-template>
              <h4 class="text-white">
                <strong>{{
                  user.displayName ? user.displayName : "User"
                }}</strong>
              </h4>
              <p>{{ user.role }}</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="p-3">
              <h5 class="mb-2 b-b-default fw-bold">Informacje</h5>
              <div class="row">
                <div class="col-sm-6">
                  <p class="mb-3 fw-bold">Email</p>
                  <h6 class="text-muted mb-3">{{ user.email }}</h6>
                </div>
                <div class="col-sm-6">
                  <p class="mb-3 fw-bold">Hasło</p>
                  <h6 class="text-muted mb-3">*********</h6>
                </div>
              </div>
              <h5 class="mb-3 mt-5 b-b-default fw-bold">Ustawienia</h5>
              <div class="row">
                <div class="col-sm-6">
                  <p class="mb-4 fw-bold">Edytuj konto</p>
                  <div class="mb-2">
                    <button
                      class="btn btn-sm btn-primary"
                      (click)="openChangeProfilePictureDialog()"
                    >
                    <i class="bi bi-pencil me-2"></i>

                    Zmień zdjecie profilowe

                    </button>
                  </div>
                  <div class="mb-4">
                    <button
                      class="btn btn-sm btn-primary"
                      (click)="openChangeDisplayNameDialog()"
                    >
                    <i class="bi bi-pencil me-2 "></i>

                      Zmień nazwę

                    </button>
                  </div>
                </div>
                <div class="col-sm-6">
                  <p class="mb-4 fw-bold">Wyloguj się</p>
                  <button
                    class="btn btn-outline-primary"
                    (click)="authService.SignOut()"
                  >
                    Wyloguj się
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="alert alert-danger alert-dismissible fade show container" role="alert" *ngIf="invalidDisplayName">
  Niepoprawna nazwa użytkownika
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<section class="py-5">
  <div class="container px-5 my-3">
    <div *ngIf="tickets">
      <div *ngIf="tickets.length > 0">
        <div class="text-center">
          <h2>Moje bilety</h2>
          <hr />
        </div>
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nr biletu</th>
              <th scope="col">Imię</th>
              <th scope="col">Nazwisko</th>
              <th scope="col">Ilość biletów</th>
              <th scope="col">Wydarzenie</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of tickets; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ ticket.id }}</td>
              <td>{{ ticket.name }}</td>
              <td>{{ ticket.surname }}</td>
              <td>{{ ticket.number }}</td>
              <td>
                <button
                  type="submit"
                  class="btn btn-accent text-white"
                  routerLink="/event/{{ ticket.eventId }}"
                >
                  Pokaż wydarzenie
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

      <div *ngIf="tickets.length <= 0">
        <div class="text-center">
          <h2>Moje bilety</h2>
          <hr />
        </div>
        <p class="text-center" >brak zarezerwowanych biletów</p>
      </div>
    </div>

    <div class="container px-5 my-5">
      <div
        *ngIf="expiredTickets && expiredTickets.length > 0"
        class="text-center"
      >
        <button *ngIf="!showed" class="btn btn-outline-primary" (click)="showTickets()">
          Pokaż bilety
        </button>
        <button *ngIf="showed" class="btn btn-outline-primary" (click)="showTickets()">
          Ukryj bilety
        </button>
      </div>

      <div *ngIf="showed && expiredTickets && expiredTickets.length > 0">
        <div class="text-center">
          <h2>Bilety z przeszłości</h2>
          <hr />
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nr biletu</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Ilość biletów</th>
                <th scope="col">Wydarzenie</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of expiredTickets; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.name }}</td>
                <td>{{ ticket.surname }}</td>
                <td>{{ ticket.number }}</td>
                <td>
                  <button
                    type="submit"
                    class="btn btn-accent text-whit"
                    routerLink="/event/{{ ticket.eventId }}"
                  >
                    Pokaż wydarzenie
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
