

<section class="text-center d-flex my-5">
  <div class="form-signin shadow p-3 bg-body rounded my-5">
    <form>
      <img
        class="mb-4"
        src="https://firebasestorage.googleapis.com/v0/b/event-app-4eaf2.appspot.com/o/logo%2Flogo_black.png?alt=media&token=52c7d9bc-9a74-4653-9b00-27ccefe98d3e&_gl=1*u4aymx*_ga*OTA3MjU2MTMwLjE2ODg4MDc2ODI.*_ga_CW55HF8NVT*MTY5NjU5ODEwMi45MC4xLjE2OTY1OTgyNzIuNjAuMC4w"
        alt="logo"
        width="100"
      />
      <h1 class="h3 mb-4 fw-normal">Zarejestruj się</h1>
      <div class="form-floating ">
        <input
          #userEmail
          required
          type="email"
          class="form-control"
          id="mail"
          placeholder="name@example.com"
        />
        <label for="mail">Email</label>
      </div>

      <div class="form-floating ">
        <input
          placeholder="Login"
          #userDisplayName
          type="login"
          required
          class="form-control"
          id="login"
        />
        <label for="login">Login</label>
      </div>


      <div class="form-floating">
        <input
          type="password-confirm"
          #userPwd
          required
          class="form-control"
          id="password"
          placeholder="Haslo"
        />
        <label for="password">Hasło</label>
      </div>

      <div class="form-floating">
        <input
          type="password"
          #confirmPwd
          required
          class="form-control"
          id="password-confirm"
          placeholder="Haslo"
        />
        <label for="password-confirm">Powtórz hasło</label>
      </div>


      <input
        type="button"
        class=" btn btn-lg btn-primary mt-3"
        value="Zarejestruj się"
        (click)="authService.SignUp(userEmail.value, userPwd.value, userDisplayName.value, confirmPwd.value)"
      />
      <div class="mt-5 mb-3 text-muted">
        <span
          >posiadasz konto?
          <a routerLink="/sign-in">
            Zaloguj się
          </a>
        </span>
      </div>
    </form>
</div>
</section>
