

<section class="text-center d-flex my-5">
  <div class="form-signin shadow p-3 bg-body rounded my-5">
    <form>
      <img
        class="mb-4"
        src="/docs/5.0/assets/brand/bootstrap-logo.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="h3 mb-4 fw-normal">Zarejestruj się</h1>
      <div class="form-floating ">
        <input
          #userEmail
          required
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating ">
        <input
          placeholder="Login"
          #userDisplayName
          required
          class="form-control"
          id="floatingLogin"
        />
        <label for="floatingLogin">Login</label>
      </div>


      <div class="form-floating">
        <input
          type="password"
          #userPwd
          required
          class="form-control"
          id="floatingPassword"
          placeholder="Haslo"
        />
        <label for="floatingPassword">Hasło</label>
      </div>
      <input
        type="button"
        class=" btn btn-lg btn-primary mt-3"
        value="Zarejestruj się"
        (click)="authService.SignUp(userEmail.value, userPwd.value, userDisplayName.value)"
      />
      <div class="mt-5 mb-3 text-muted">
        <span
          >posiadasz konto?
          <a routerLink="/sign-in">
            Zaloguj się
          </a>
        </span>
      </div>
    </form>
</div>
</section>
