<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
  type="text/css"
/>

<div class="map-container">
  <div class="sidebar" *ngIf="hideSideBar != true">
    <div class="heading">
      <h1>Wydarzenia</h1>
    </div>
    <div id="listings" class="listings">
      <div
        *ngFor="let event of events"
        class="listings_item"
        [id]="'listing-' + event.id"
      >
        <a class="title" [id]="'link-' + event.id" (click)="flyToStore(event)">
          >
          {{ event.name }}
        </a>
        <div class="details">
          {{ event.place_name }}
        </div>
      </div>
    </div>
  </div>
  <div
    class="map"
    id="map"
    [ngStyle]="{
      'left': hideSideBar ? '0' : '20%',
      'width': hideSideBar ? '100%' : '80%',
      'max-height': hideSideBar ? '300px' : 'none'
    }"
  ></div>
</div>
