<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Logowanie</h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Username"
          #userName
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPassword
          required
        />
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input
          type="button"
          class="btn btn-primary"
          value="Log in"
          (click)="authService.SignIn(userName.value, userPassword.value)"
        />
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">lub</span></span>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Zapomniałeś hasła?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>nie masz konta
        <span class="redirect" routerLink="/register-user">
          Zarejestruj się
        </span>
      </span>
    </div>
  </div>
</div>
