<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Logowanie</h3>
      <div class = "form">
          <input
            type="text"
            class="email"
            placeholder="Username"
            #userName
            required
          />
          <input
            type="password"
            class="password"
            placeholder="Password"
            #userPassword
            required
          />
          <input
            type="button"
            class="btn btn-primary submit"
            value="Log in"
            (click)="authService.SignIn(userName.value, userPassword.value)"
          />
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">lub</span></span>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Zapomniałeś hasła?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>nie masz konta
        <span class="redirect" routerLink="/register-user">
          Zarejestruj się
        </span>
      </span>
    </div>
  </div>
</div>
