
<div *ngIf="currentEvent">

  <div>
    <img src={{currentEvent.img}} alt="event img" width="" height="">
  </div>
<div>

</div>
    <p> Kategoria: {{currentCategory.name}} </p>

    <h1>{{currentEvent.name}} </h1>
    <h2>Gdzie i kiedy</h2>
    <p> Data: {{currentEvent.date_start | date }} - {{currentEvent.date_end | date}} </p>
    <p> Lokalizacja: {{currentEvent.place_name}} </p>
    <h2>Opis wydarzenia</h2>
    <p>{{currentEvent.description}} </p>
    <h2>Organizator</h2>
    <p>{{currentEvent.organizator}} </p>
</div>

  <button type="button" class="btn btn-danger" (click)="deleteEvent()">
    Delete
  </button>
