<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
  type="text/css"
/>

<div class="py-5 text-center">
  <h2>Edytuj wydarzenie</h2>
  <hr />
</div>

<form [formGroup]="eventForm" (ngSubmit)="updateEvent()" novalidate>
  <div class="submit-form g-5 d-flex justify-content-center container">
    <div class="col-md-8">
      <div class="row g-3">
        <div class="form-group col-sm-12 my-3">
          <label for="name" class="fs-5 text-primary">Nazwa</label>
          <input
            placeholder="nazwa wydarzenia..."
            type="text"
            class="form-control"
            id="name"
            required
            formControlName="name"
            name="name"
            value="{{ currentEvent.name }}"
          />
          <div
            *ngIf="name?.invalid && (name?.dirty || name?.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="name?.errors?.['required']">
              Nazwa wydarzenia jest wymagana
            </div>
            <div *ngIf="name?.errors?.['minlength']">
              Nazwa musi mieć conajmniej 3 znaki
            </div>
            <div *ngIf="name?.errors?.['maxlength']">
              Nazwa nie może być dłuższa niż 50 znaków
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12 my-3">
          <label for="description" class="fs-5 text-primary">Opis</label>
          <textarea
            placeholder="opis..."
            class="form-control"
            id="description"
            required
            name="description"
            formControlName="description"
            value="{{ currentEvent.description }}"
          ></textarea>
          <div
            *ngIf="description?.invalid && (description?.dirty || description?.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="description?.errors?.['required']">
              Opis wydarzenia jest wymagany
            </div>
            <div *ngIf="description?.errors?.['minlength']">
              Opis musi mieć conajmniej 10 znaków
            </div>
            <div *ngIf="description?.errors?.['maxlength']">
              Opis nie może być dłuższa niż 2000 znaków
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12 my-3">
          <label for="Lokalizacja" class="fs-5 text-primary">Lokalizacja</label>
          <p>
            <i class="bi bi-geo-alt me-2"></i
            >{{ previousLocalization.place_name }}
          </p>
          <div id="geocoder" class="geocoder-add-event p-0"></div>
        </div>

        <div class="form-group col-sm-12 my-2">
          <label for="organizator" class="fs-5 text-primary">Organizator</label>
          <input
            placeholder="organizator..."
            class="form-control"
            id="organizator"
            required
            formControlName="organizator"
            value="{{ currentEvent.organizator }}"
          />
          <div
          *ngIf="organizator?.invalid && (organizator?.dirty || organizator?.touched)"
          class="invalid-feedback"
          >
            <div *ngIf="organizator?.errors?.['required']">
              Organizator wydarzenia jest wymagany
            </div>
            <div *ngIf="organizator?.errors?.['minlength']">
              Nazwa organizatora musi mieć conajmniej 5 znaków
            </div>
            <div *ngIf="organizator?.errors?.['maxlength']">
              Nazwa organizatora nie może być dłuższa niż 50 znaków
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12 my-3">
          <label for="img" class="fs-5 text-primary">Zdjęcie wydarzenia</label>
          <div class="d-flex justify-content-center align-items-centerm">
            <div
              class="imagePreview ratio ratio-16x9 event-img my-4"
              *ngIf="imageURL && imageURL !== ''"
            >
              <img [src]="imageURL" alt="event img" class="rounded shadow" />
            </div>
            <div
              class="imagePreview ratio ratio-16x9 event-img my-4"
              *ngIf="previousImage && !(imageURL && imageURL !== '')"
            >
              <img
                [src]="previousImage"
                alt="event img"
                class="rounded shadow"
              />
            </div>
          </div>
          <input
            type="file"
            class="form-control"
            id="img"
            (change)="onImageSelected($event)"
            accept="image/*"
          />
        </div>

        <div class="form-group col-6 my-3">
          <label for="date_start" class="fs-5 text-primary"
            >Data rozpoczęcia</label
          >
          <input
            class="form-control"
            type="datetime-local"
            id="date_start"
            required
            formControlName="date_start"
            value="{{ currentEvent.date_start }}"
          />
          <div
            *ngIf="
              date_start?.invalid && (date_start?.dirty || date_start?.touched)
            "
            class="invalid-feedback"
          >
            <p>Podano nieprawidłową datę początkową</p>
          </div>
        </div>

        <div class="form-group col-6 my-3">
          <label for="date_end" class="fs-5 text-primary"
            >Data zakończenia</label
          >
          <input
            class="form-control"
            type="datetime-local"
            id="date_end"
            required
            formControlName="date_end"
            value="{{ currentEvent.date_end }}"
          />
          <div *ngIf="date_end?.dirty || date_end?.touched">
            <div *ngIf="date_end?.invalid" class="invalid-feedback">
              <p>Podano nieprawidłową datę końcową</p>
            </div>
            <div
              *ngIf="date_end?.value < date_start?.value"
              class="invalid-feedback"
            >
              <p>Data końcowa powinna być większa od początkowej 😉</p>
            </div>
            <div *ngIf="isDateEndInvalid()" class="invalid-feedback">
              <p>Data zakończenia nie może być z przeszlości</p>
            </div>
          </div>
        </div>

        <label for="category" class="fs-5 text-primary">Kategorie</label>
        <mat-radio-group
          class="example-radio-group"
          formControlName="category"
          required
        >
          <div class="radio-buttons-container">
            <mat-radio-button
              class="form-check form-check-inline"
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-radio-button>
          </div>
        </mat-radio-group>

        <h5 class="mt-5">
          W przypadku wydarzenia z ograniczoną ilością miejsc podaj liczbę
          biletów możliwych do rezerwacji:
        </h5>
        <div class="form-group col-12">
          <label for="tickets" class="fs-5 text-primary">Ilość biletów</label>
          <input
            type="number"
            class="form-control"
            value="0"
            id="tickets"
            formControlName="tickets"
            value="{{ currentEvent.tickets }}"
            min="{{ reservedTickets }}"
          />
          <div
            *ngIf="tickets?.invalid && (tickets?.dirty || tickets?.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="tickets?.value < 0">
              Nie można dodawać ujemnych biletów
            </div>
            <div *ngIf="tickets?.errors?.['max']">
              Maksymalna liczba biletów to 100 000
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <button
        type="submit"
        class="btn btn-success mb-5 me-3"
        [disabled]="
          !eventForm.valid ||
          date_end?.value <= date_start?.value ||
          !eventForm.get('place_name')?.value
        "
      >
        Aktualizuj
      </button>
      <button
        class="btn btn-outline-primary mb-5"
        routerLink="/event/{{ currentEvent.id }}"
      >
        Wróć do wydarznia
      </button>
    </div>
  </div>
</form>
