<!-- Events list section-->
<section class="py-5">
  <div class="container px-5 my-3">
    <section>
      <div class="text-center">
        <h2>Dodaj nową kategorię</h2>
        <hr />
      </div>
      <div class="submit-form g-5 d-flex justify-content-center my-5 ">
        <div *ngIf="!submitted" class="col-md-7">
          <div class="row g-3">
            <div class="form-group col-sm-12">
              <label for="category">Nazwa</label>
              <input
                placeholder="nazwa kategorii..."
                type="text"
                class="form-control"
                id="category"
                required
                [(ngModel)]="category.name"
                #categoryText="ngModel"
                minlength="3"
                maxlength="25"
              />
              <div
                *ngIf="categoryText?.invalid && (categoryText?.dirty || categoryText?.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="categoryText?.errors?.['minlength']">
                  Nazwa musi mieć conajmniej 3 znaki
                </div>
                <div *ngIf="categoryText?.errors?.['maxlength']">
                  Nazwa nie może być dłuższa niż 25 znaków
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <button (click)="saveCategory()" class="btn btn-success">
            Zapisz
          </button>
        </div>


        <div *ngIf="submitted">
          <div class="alert alert-success" role="alert" *ngIf="submitted">
            Udało sie dodac nową kategorię o nazwie: <b>{{category.name}}</b>
          </div>
          <div class="text-center">
            <button class="btn btn-success " (click)="newCategory()">
              Dodaj kolejną kategorię
            </button>
          </div>

        </div>
      </div>
    </section>

    <section>
      <div class="text-center">
        <h2>Lista kategorii</h2>
        <hr />
      </div>
      <ul class="list-group" >
        <li *ngFor="let category of categories" class="list-group-item">
          <button
            type="button"
            class="btn btn-danger ms-2 rounded-circle me-2"
            (click)="deleteCategory(category)"
          >
            <i class="bi bi-x " style="font-size: 18px;"></i>
          </button>
          <button
            type="button"
            class="btn btn-primary ms-2 rounded-circle me-4"
            (click)="openEditCategoryDialog(category)"
          >
            <i class="bi bi-pencil " style="font-size: 18px;"></i>
          </button>
          {{ category.name }}
        </li>
      </ul>
    </section>
  </div>
</section>
