<div class="submit-form">
    <div class="row ">
      <div class="col-md-10   ">

          <textarea
          type="text"
          class="form-control"
          id="name"
          rows="3"
          placeholder="Dołacz do dyskusji i zostaw komentarz!"
          required
          [(ngModel)]="comment.text"
          #commentText="ngModel"
          minlength="5"
          maxlength="300"
          ></textarea>
        <div *ngIf="commentText.invalid && (commentText.dirty || commentText.touched)" class="invalid-feedback">
          Komentarz musi zawierać od 5 do 500 znaków
        </div>

      </div>

      <div class="col-md-2 ">
        <ng-container *ngIf="isLoggedIn(); else loginPanel">
        <button (click)="saveComment()" class="btn btn-success p-3">
          Dodaj komentarz
        </button>
      </ng-container>
      <ng-template #loginPanel>
        <button (click)="openDialog()" class="btn btn-outline-success  p-3">
          Dodaj
        </button>
      </ng-template>
    </div>
  </div>
</div>
