<div class="submit-form g-5 d-flex justify-content-center">
  <div class="col-md-7">
    <div class="row g-3">

      <div class="form-group col-sm-12">
        <label for="title">Nowy Komentarz</label>
        <input
          placeholder="..."
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="comment.text"
          name="title"
        />
      </div>
    </div>
  </div>
  <hr class="my-4">
  <button (click)="saveComment()" class="btn btn-success">Dodaj</button>
</div>

