<section class="text-center d-flex my-5">
  <div class="form-signin shadow p-3 bg-body rounded my-5">
    <form>
      <img
        class="mb-4"
        src="https://firebasestorage.googleapis.com/v0/b/event-app-4eaf2.appspot.com/o/logo%2Flogo_black.png?alt=media&token=52c7d9bc-9a74-4653-9b00-27ccefe98d3e&_gl=1*u4aymx*_ga*OTA3MjU2MTMwLjE2ODg4MDc2ODI.*_ga_CW55HF8NVT*MTY5NjU5ODEwMi45MC4xLjE2OTY1OTgyNzIuNjAuMC4wg"
        alt="logo"
        width="100"
      />
      <h1 class="h3 mb-4 fw-normal">Dziekujemy za rejestrację</h1>
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">Wysłaliśmy maila potwierdzającego na <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Prosimy sprawdź maila i kliknij w link weryfikacyjny.</p>
      </div>


        <input type="button" value= "Wyślij jeszcze raz" class="btn btn-lg btn-primary mt-3" (click)="authService.SendVerificationMail()">


      <div class="mt-5 mb-3 text-muted">
        <span
          >chcesz wrócić?
          <a routerLink="/sign-in"> Zaloguj się </a>
        </span>
      </div>
    </form>
  </div>
</section>

