<section>
  <div *ngIf="currentEvent" class="my-5">
    <header class="mb-4 container">
      <div class="row align-items-center">
        <div class="col-md-6 my-5">
          <div class="d-flex justify-content-center align-items-center">
            <div class="ratio ratio-16x9 event-img">
              <img
                class="mx-auto d-block rounded shadow"
                src="{{ currentEvent.img }}"
                alt="event img"
              />
            </div>
          </div>
        </div>

        <div class="col-md-6 my-5 text-center text-md-start">
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2">
            {{ currentEvent.date_start | date : "dd/MM/yy" }}
          </div>
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">{{ currentEvent.name }}</h1>
          <button
            type="button"
            class="btn btn-outline-primary mt-2 btn-sm"
            routerLink="/event/{{ currentEvent.id }}"
          >
            Wróć do wydarzenia
          </button>
        </div>
      </div>
    </header>

    <section class="bg-dark text-center text-white padding-big my-5">
      <div
        *ngIf="currentEvent && currentEvent.tickets && currentEvent.tickets > 0"
      ></div>
      <div class="row">
        <div class="col-md-6">
          <h3 class="fw-bolder mb-4 mt-5">Ilość biletów do rezerwacji:</h3>
          <h4 class="fs-5 rounded-3 p-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-ticket-perforated-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4-1v1h1v-1H4Zm1 3v-1H4v1h1Zm7 0v-1h-1v1h1Zm-1-2h1v-1h-1v1Zm-6 3H4v1h1v-1Zm7 1v-1h-1v1h1Zm-7 1H4v1h1v-1Zm7 1v-1h-1v1h1Zm-8 1v1h1v-1H4Zm7 1h1v-1h-1v1Z"
              />
            </svg>

            {{ currentEvent.tickets }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-ticket-perforated-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4-1v1h1v-1H4Zm1 3v-1H4v1h1Zm7 0v-1h-1v1h1Zm-1-2h1v-1h-1v1Zm-6 3H4v1h1v-1Zm7 1v-1h-1v1h1Zm-7 1H4v1h1v-1Zm7 1v-1h-1v1h1Zm-8 1v1h1v-1H4Zm7 1h1v-1h-1v1Z"
              />
            </svg>
          </h4>
        </div>
        <div class="col-md-6">
          <h3 class="fw-bolder mb-4 mt-5">Zostało biletów:</h3>
          <h4 class="fs-5 rounded-3 p-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-ticket-perforated-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4-1v1h1v-1H4Zm1 3v-1H4v1h1Zm7 0v-1h-1v1h1Zm-1-2h1v-1h-1v1Zm-6 3H4v1h1v-1Zm7 1v-1h-1v1h1Zm-7 1H4v1h1v-1Zm7 1v-1h-1v1h1Zm-8 1v1h1v-1H4Zm7 1h1v-1h-1v1Z"
              />
            </svg>
            {{ currentEvent.ticketsLeft }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-ticket-perforated-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4-1v1h1v-1H4Zm1 3v-1H4v1h1Zm7 0v-1h-1v1h1Zm-1-2h1v-1h-1v1Zm-6 3H4v1h1v-1Zm7 1v-1h-1v1h1Zm-7 1H4v1h1v-1Zm7 1v-1h-1v1h1Zm-8 1v1h1v-1H4Zm7 1h1v-1h-1v1Z"
              />
            </svg>
          </h4>
        </div>
      </div>
    </section>
  </div>
  <div class=" margin-big-bottom">
    <div class="text-center my-5 container">
      <h2>Zarezerwowane bilety</h2>
      <hr />
    </div>
    <div *ngIf="tickets && tickets.length > 0">
      <div class="table-responsive my-5 container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nr biletu</th>
              <th scope="col">Imię</th>
              <th scope="col">Nazwisko</th>
              <th scope="col">Ilosć biletów</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of tickets; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ ticket.id }}</td>
              <td>{{ ticket.name }}</td>
              <td>{{ ticket.surname }}</td>
              <td>{{ ticket.number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="tickets && tickets.length <= 0" class="margin-big-bottom">
    <p>brak zarezerwowanych biletów</p>
  </div>
</section>
