
  <div routerLink="/event/{{event.id}}">
    <div class="pictureBox center">
      <img class="image" width="300" height="250" src={{event.img}}>
    </div>
    <div class="data" >
      <div class="name center"> <h2> {{event.name}} </h2></div>
      <div class="date center"> {{event.date_start | date: "dd/MM/yy"}} - {{event.date_end| date: "dd/MM/yy"}}</div>
      <div class="localization center"> {{event.place_name}}</div>
      <div *ngFor="let category of categories">
        <div class="category center" *ngIf="category.id == event.category"> {{category.name}}</div>
      </div>
    </div>
  </div>

