<div  >
  <p>Zmień zdjęcie profilowe</p>
  <input
  type="file"
  class="form-control"
  id="profileImage"
  accept="image/*"
  (change)="onImageSelected($event)"
/>  <img
    *ngIf="selectedProfileImage"
    [src]="selectedProfileImage"
    alt="Preview"
    width="150"
    height="150"
  />
</div>
<div>
  <button class="btn btn-outline-danger mt-3" (click)="onNoClick()">Anuluj</button>
  <button
    class="btn btn-outline-success mt-3"
    [mat-dialog-close]="selectedProfileImage"
    *ngIf="selectedProfileImage"
  >
    Zapisz
  </button>
</div>
