<!-- Events list section-->
<section class="py-5">
  <div class="container px-5 my-3">
    <div class="text-center">
      <h2>Lista wydarzeń do opublikowania</h2>
      <hr />
    </div>

    <div class="grid" *ngIf="events && events.length > 0">
      <!-- Wyświetl karty wydarzeń, jeśli events nie jest puste -->
        <app-event-card
          class="card h-100 shadow border-0"
          *ngFor="let event of events; let i = index"
          [event]="event"
          [categories]="categories"
        ></app-event-card>

    </div>
          <!-- Wyświetl informację o braku wydarzeń, jeśli events jest puste -->
          <div *ngIf="events && events.length <= 0">
            <div class="no-events-message text-center">Brak wydarzeń do akceptacji.</div>
          </div>
  </div>
</section>
