
<!--
<input type="text" placeholder="Filter by name" #filter>
<button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>

<form>
  <div>
    <input type="text" id="query" class="query" name="q" placeholder="Gdzie..." #wherefilter>
    <input type="text" id="query" class="query" name="q" placeholder="Co..." [(ngModel)]="whatFilter">
    <input type="text" id="query" class="query" name="q" placeholder="Kiedy..." #whenfilter>
  </div>
  <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" *ngFor="let category of categories; let i = index" >
    <input type="checkbox" class="btn-check" id={{i}} autocomplete="off">
    <label class="btn btn-outline-primary" for={{i}}> {{category.name}}</label>
  </div>
  <div>
    <button class="primary" type="button" (click)="filterResults()">Szukaj</button>
  </div>

</form>
-->


<div class="py-5 text-center">
  <h2>Lista wydarzeń do opublikowania</h2>
  <hr>
</div>

<div class="grid">
  <app-event-card class="item" *ngFor="let event of events; let i = index" [event]="event" [categories]="categories"></app-event-card>
</div>



