/* You can add global styles to this file, and also import other style files */
:root {
  --main: #023047;
  --primary: #219EBC;
  --secondary: #8ECAE6;
  --accent: #FB8500;
  --accent-secondary: #FFB703;
}

.invalid-feedback{
  color:red;
  font-weight: bold;
  display: inline;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Roboto", sans-serif; }

#page-container {
  position: relative;
  min-height: 100vh;
}



.geocoder .mapboxgl-ctrl-geocoder {
  width: 100%!important;
  min-width: 100%!important;
  line-height: 58px!important;
  font-size: 15px!important;
  color: #495057!important;
}

/* Dodanie zaokrąglenia tylko z prawej strony dla inputa odległości */
#kilometers {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}




.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.fit-cover {
  object-fit: cover;
}
a {
  color: var(--primary);
}
/*  BOOTSTRAP */

.btn-primary,
.btn-primary:active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn-primary:hover,
.btn-primary:focus{
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

.btn-outline-primary,
.btn-outline-primary:active {
  color: var(--primary);
  border-color: var(--primary) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus{
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}


.btn-accent,
.btn-accent:active {
  background-color: var(--accent-secondary) !important;
  border-color: var(--accent-secondary) !important;
}

.btn-accent:hover,
.btn-accent:focus{
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
}

.btn-outline-accent,
.btn-outline-accent:active {
  color: var(--accent-secondary);
  border-color: var(--accent-secondary) !important;
}

.btn-outline-accent:hover,
.btn-outline-accent:focus{
  background-color: var(--accent-secondary) !important;
  border-color: var(--accent-secondary) !important;
  color: var(--main);
}

.bg-dark{
  background-color: var(--main) !important;
}
.bg-secondary{
  background-color: var(--secondary) !important;
}
.bg-primary{
  background-color: var(--primary) !important;
}

.text-primary{
  color: var(--primary);
}
.text-accent{
  color: var(--accent);
}

/*  end BOOTSTRAP */

.padding-big{
  padding: 50px 0;
}

.margin-big-bottom{
  margin: 100px 0;
}
