/* You can add global styles to this file, and also import other style files */

.invalid-feedback{
  color:red;
  font-weight: bold;
  display: inline;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Roboto", sans-serif; }

#page-container {
  position: relative;
  min-height: 100vh;
}



.geocoder .mapboxgl-ctrl-geocoder {
  width: 100%!important;
  min-width: 100%!important;
  line-height: 58px!important;
  font-size: 15px!important;
  color: #495057!important;
}

/* Dodanie zaokrąglenia tylko z prawej strony dla inputa odległości */
#kilometers {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}




.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.fit-cover {
  object-fit: cover;
}
