/* You can add global styles to this file, and also import other style files */
:root {
  --main: #023047;
  --primary: #219EBC;
  --secondary: #8ECAE6;
  --accent: #FB8500;
  --accent-secondary: #FFB703;
}

.invalid-feedback{
  color:red;
  font-weight: bold;
  display: inline;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Roboto", sans-serif; }

#page-container {
  position: relative;
  min-height: 100vh;
}

.padding-big{
  padding: 50px 0;
}

.margin-big-bottom{
  margin: 100px 0;
}


/*    MAP   */
.geocoder .mapboxgl-ctrl-geocoder {
  width: 100%!important;
  min-width: 100%!important;
  line-height: 58px!important;
  font-size: 15px!important;
  color: #495057!important;
  box-shadow: none !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 0.3rem !important;
  border-style: hidden !important;
}

.geocoder .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input:active,
.geocoder .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input:focus {
  outline: none !important;
}


@media (min-width: 640px) {
  .geocoder .mapboxgl-ctrl-geocoder--icon {
    margin-top: 10px;
  }

}

.geocoder-add-event .mapboxgl-ctrl-geocoder {
  width: 100%!important;
  min-width: 100%!important;
  font-size: 15px!important;
  color: #495057!important;
  box-shadow: none !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 0.3rem !important;
}

.geocoder-add-event .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input:active,
.geocoder-add-event .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input:focus {
  box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.25) !important;
  border-color: #007bff !important;
  border-radius: 0.3rem !important;
  outline: none !important;
}


/* Dodanie zaokrąglenia tylko z prawej strony dla inputa odległości */
#kilometers {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}




.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="login"] {
  border-radius: 0;
}

.form-signin input[type="password-confirm"] {
  border-radius: 0;
}


.fit-cover {
  object-fit: cover;
}
a {
  color: var(--primary);
}
/*  BOOTSTRAP */

.btn-primary,
.btn-primary:active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn-primary:focus{
  background-color: var(--primary) !important;
  border-color: var(--secondary) !important;
}

.btn-primary:hover{
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}



.btn-outline-primary,
.btn-outline-primary:active {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus{
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: white;
}

/* Styl dla niezaznaczonego checkboxa */
.btn-check:not(:checked) + .btn-outline-primary,
.btn-check:not(:checked) + .btn-outline-primary:active {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

/* Styl dla zaznaczonego checkboxa */
.btn-check:checked + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary:active {
  color: white !important;
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}

/* Styl dla hovera na checkboxie */
.btn-check + .btn-outline-primary:hover,
.btn-check + .btn-outline-primary:focus {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  color: white !important;
}


.btn-accent,
.btn-accent:active {
  background-color: var(--accent-secondary) !important;
  border-color: var(--accent-secondary) !important;
}

.btn-accent:focus{
  background-color: var(--accent-secondary) !important;
  border-color: var(--accent) !important;
}

.btn-accent:hover{
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
}


.btn-outline-accent,
.btn-outline-accent:active {
  color: var(--accent-secondary);
  border-color: var(--accent-secondary);
}

.btn-outline-accent:hover,
.btn-outline-accent:focus{
  background-color: var(--accent-secondary) !important;
  border-color: var(--accent-secondary) !important;
  color: var(--main);
}

.bg-dark{
  background-color: var(--main) !important;
}
.bg-secondary{
  background-color: var(--secondary) !important;
}
.bg-primary{
  background-color: var(--primary) !important;
}

.text-primary{
  color: var(--primary) !important;
}
.text-accent{
  color: var(--accent-secondary) !important;
}

/*  end BOOTSTRAP */



/* EVENT IMG  */

.event-img img{
  width: 100%;
  object-fit: cover;
}

.event-img {
  max-width: 600px;
}

