<form>
  <div>
    <input type="search" id="query" class="query" name="q" placeholder="Gdzie...">
    <input type="search" id="query" class="query" name="q" placeholder="Co...">
    <input type="search" id="query" class="query" name="q" placeholder="Kiedy...">
  </div>
  <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1">Kategoria 1</label>

    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2">Kategoria 2</label>

    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck3">Kategoria 3</label>
  </div>
  <div>
    <button>Szukaj</button>
  </div>

</form>
