<div class="container ">
  <div class="py-5 text-center">
    <h2>Dodaj nowe wydarzenie</h2>
    <hr>
  </div>

  <div class="g-5 d-flex justify-content-center">
    <div class="col-md-7">
      <form [formGroup]="formModel" (ngSubmit)='addEvent()' class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-12">
            <label for="name" class="form-label">Nazwa</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="nazwa wydarzenia..." value="" required>
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="invalid-feedback">
              wrong name
            </div>
          </div>

          <div class="col-sm-12">
            <label for="name" class="form-label">Opis</label>
            <textarea type="text" formControlName="description" class="form-control" id="name" placeholder="opis..." value="" required></textarea>
          </div>


          <div class="col-sm-12">
            <label for="localization" class="form-label">Lokalizacja</label>
            <input type="text" formControlName="localization" class="form-control" id="localization" placeholder="lokalizacja..." value="" required>
            <div *ngIf="localization?.invalid && (localization?.dirty || localization?.touched)" class="invalid-feedback">
              wrong localization
            </div>
          </div>

          <div class="col-sm-12">
            <label for="organizator" class="form-label">organizator</label>
            <input type="text" formControlName="organizator" class="form-control" id="organizator" placeholder="organizator..." value="" required>
            <div *ngIf="description?.invalid && (organizator?.dirty || organizator?.touched)" class="invalid-feedback">
              wrong organizator
            </div>
          </div>

          <div class="col-sm-12">
            <label for="img" class="form-label">Url zdjecia</label>
            <input type="text" formControlName="img" class="form-control" id="img" placeholder="img..." value="">
            <div *ngIf="description?.invalid && (img?.dirty || img?.touched)" class="invalid-feedback">
              wrong img
            </div>
          </div>

          <div class="col-6">
            <label for="date_start" class="form-label">Data rozpoczęcia</label>
            <div class="input-group has-validation">
              <input type="datetime-local" formControlName="date_start" class="form-control" id="date_start" required>
              <div *ngIf="date_start?.invalid && (date_start?.dirty || date_start?.touched)" class="invalid-feedback">
               wrong date
              </div>
            </div>

          </div>

          <div class="col-6">
            <label for="date_end" class="form-label">Data zakończenia</label>
            <div class="input-group has-validation">
              <input type="datetime-local" formControlName="date_end" class="form-control" id="date_end">
              <div *ngIf="(date_end?.dirty || date_end?.touched)">
                <div *ngIf="date_end?.invalid" class="invalid-feedback">
                  wrong date
                </div>
                <div *ngIf="date_end?.value<date_start?.value" class="invalid-feedback">
                  end date should be greater than start date
                </div>
              </div>
            </div>
          </div>


          <div class="col-sm-12">
            <label for="category" class="form-label">Kategoria</label>
            <div class="input-group has-validation">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="category1" value="option1">
                <label class="form-check-label" for="category1">kategoria 1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="category2" value="option2">
                <label class="form-check-label" for="category2">kategoria 2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="category3" value="option3">
                <label class="form-check-label" for="category3">kategoria 3</label>
              </div>
            </div>
          </div>


          <div class="col-sm-12">
            <label for="tickets" class="form-label">Bilety</label>
            <input type="number"  class="form-control" id="tickets" value="0">

          </div>


        </div>

        <hr class="my-4">

        <button class="btn col btn-success btn-lg" type="submit" [disabled]="!formModel.valid">Zapisz</button>
        <div class="row">

        </div>
      </form>


    </div>
  </div>
</div>
