<div class="text-center">
  <H2>Zarezerwuj bilet</H2>
</div>
<form [formGroup]="ticketForm" (ngSubmit)="saveTicket()" novalidate>
  <div class="submit-form g-5 d-flex justify-content-center">
    <div class="col-md-7">
      <div class="row g-3">

        <div class="form-group col-sm-12">
          <label for="title">Imię</label>
          <input
            placeholder="Imię..."
            type="text"
            class="form-control"
            id="name"
            required
            formControlName="name"
            maxlength="50"
          />
          <div
          *ngIf="name?.invalid && (name?.dirty || name?.touched)"
          class="invalid-feedback"
        >
          Podaj poprawne imię
        </div>
        </div>


        <div class="form-group col-sm-12">
          <label for="title">Nazwisko</label>
          <input
            placeholder="Nazwisko..."
            type="text"
            class="form-control"
            id="surname"
            required
            formControlName="surname"
            maxlength="50"
          />
          <div
          *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)"
          class="invalid-feedback"
        >
          Podaj poprawne nazwisko
        </div>
        </div>

        <div class="form-group col-sm-12">
          <label for="title">Ilośc biletów</label>
          <input
            placeholder="Ilośc biletów..."
            type="number"
            class="form-control"
            id="number"
            required
            formControlName="number"
            [(ngModel)]="ticketForm.value.number"
            (ngModelChange)="onReservedTicketsChange()"
            min="1"
            max = "{{event.ticketsLeft}}"
          />
          <div *ngIf="number?.invalid &&
          (number?.dirty || number?.touched)" class="invalid-feedback">
            <p>Musisz podac liczbę</p>
          </div>
          <div *ngIf="ticketsAvailabilityMessage" class="invalid-feedback">{{ ticketsAvailabilityMessage }}</div>
          <div *ngIf="number?.value < 0" class="invalid-feedback">
            <p>nie można dodawać ujemnych biletów</p>
          </div>
        </div>

<hr class="my-4">
<button mat-dialog-close type="submit" class="btn btn-secondary btn-lg" [disabled]="!ticketForm.valid">
  Zarezerwuj
</button>
</div>
</div>
